<div class=" m-4" *ngIf="!showLogin">
    <div class="container my-5 mx-2">
        <div class="row sample">
            <div class="col-md-5">
                <div class="card seller" >
                    <div class="sign-up ">
                        <h3 class="my-2" style="text-align: center; font-weight: bold; text-decoration: underline; ">
                            Sign Up</h3>
                        <form [formGroup]="rashmi" class="col-xs-6 ">
                            <div >
                                <div class="form-group ">
                                    <label>
                                        <h5>Name:</h5>
                                    </label>
                                    <input type="text" class="form-control" formControlName="name" name="name">
                                </div>
                               </div>
                            <div >
                                <div class="form-group">
                                    <label>
                                        <h5>Password:</h5>
                                    </label>
                                    <input type="text" class="form-control" formControlName="password" name="password">
                                </div>
                            </div>
                            <div >
                                <div class="form-group">
                                    <label>
                                        <h5>Email Id:</h5>
                                    </label>
                                    <input type="text" class="form-control" formControlName="email" name="email">
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-dark mt-3">Submit</button>
                            </div>
                            <div class="a" >
                                <a class="card-link mt-3" (click)="openLogin()">already have an account?</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7 img">
              <img src="https://cdn.pixabay.com/photo/2016/05/18/16/25/shopping-1400845_960_720.png" style="width: 40rem; height: 350px;" alt="">
            </div>
        </div>
    </div>
</div>


<div class=" container bg-light my-5" id="hi" *ngIf="showLogin">
    <div class="row justify-content-center">
        <div class="col-xs-6 col-md-6 ">

            <form [formGroup]="rassh">

                <h3 class="card-title  text-center mt-2">SignIn here</h3>
                <hr>
                <div class="Form-Group">
                    <label class="Form-label">Email</label>
                    <input type="email" name="email" class="form-control" formControlName="email"
                        placeholder="enter email"><small class="text-danger"
                        *ngIf="!rassh.get('email')?.valid && rassh.get('email')?.touched">Enter Your Valid
                        Email</small>

                </div>
                <div class="Form-Group">
                    <label class="Form-label">Password</label>
                    <input type="password" name="pwd" class="form-control" formControlName="pwd"
                        placeholder="enter password">
                    <small class="text-danger"
                        *ngIf="!rassh.get('pwd')?.valid && rassh.get('pwd')?.touched">Enter Your
                        Password</small>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-dark form-control mt-2" >Sign-in</button>
                </div>
                <div class="har d-flex justify-content-between ">
                    <a class="card-link mt-3" [routerLink]="['/']">Forget-password-?</a>
                    <a class="card-link mt-3" (click)="openSignup()">sign-up</a>
                </div>
            </form>
        </div>
    </div>
</div>