<div class="card c1 m-4 " *ngIf="!showLogin">
    <div class="container my-5 ">
        <div class="row sample">
            <div class="col-md-5  ">
                <div class="card seller shadow p-3 mb-5 ">
                    <div class="sign-up ">
                        <h3 class="my-2" style="text-align: center; font-weight: bold; text-decoration: underline; ">
                            Sign Up</h3>
                        <form [formGroup]="rashmi" class="col-xs-6 ">
                            <div>
                                <div class="form-group ">
                                    <label>
                                        <h5>Name:</h5>
                                    </label>
                                    <input type="text" class="form-control" formControlName="name" name="name">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label>
                                        <h5>Password:</h5>
                                    </label>
                                    <input type="password" class="form-control" formControlName="password" name="password">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label>
                                        <h5>Email Id:</h5>
                                    </label>
                                    <input type="text" class="form-control" formControlName="email" name="email">
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-dark mt-3" (click)="userSign(rashmi.value)">SignUp</button>
                            </div>
                            <div class="a">
                                <a class="card-link mt-3" (click)="openLogin()">already have an account? <br> click to
                                    login</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7 img">
                <img src="https://cdn.pixabay.com/photo/2016/05/18/16/25/shopping-1400845_960_720.png"
                    style="width: 50rem; height: 350px;" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<div class="card c1 m-4" *ngIf="showLogin">
    <div class="container my-5 ">
        <div class="row sample justify-content-center">
            <div class="col-md-5">
                <div class="card seller shadow p-3 mb-5">
                    <div class="sign-up ">
                        <h3 class="my-2" style="text-align: center; font-weight: bold; text-decoration: underline; ">
                            Sign In</h3>
                        <form [formGroup]="rassh" class="col-xs-6 ">
                            <div>
                                <div class="form-group">
                                    <label>
                                        <h5>Email Id:</h5>
                                    </label>
                                    <input type="text" class="form-control" formControlName="email" name="email">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label>
                                        <h5>Password:</h5>
                                    </label>
                                    <input type="password" class="form-control" formControlName="password" name="password">
                                </div>
                            </div>
                           
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-dark form-control mt-2" (click)="loginSeller()">Sign-in</button>
                            </div>
                            <div class="har d-flex justify-content-between ">
                                <a class="card-link mt-3" [routerLink]="['/']">Forget-password-?</a>
                                <a class="card-link mt-3" (click)="openSignup()">sign-up</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7 img ">
                <img src="https://cdn.pixabay.com/photo/2016/01/27/22/10/shopping-1165437__340.jpg"
                    style="width: 700px; height: 350px;" alt="" class="img-fluid">
            </div>
        </div>
       
    </div>
</div>

